.Categorytitle {
    margin: 30px;
    margin-top: 90px;
    color: black;
    font-family: fantasy;
    text-decoration: underline;
    padding-left: 600px;
}

.helclass {
    margin: 60px;
    padding: 40px;
    height: 200px
}

.gadgetimg {
    height: 200px;
    width: 200px;
}

.image {
    float: left;
    display: inline;
    margin: 0 40px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}

.content {
    float: left;
    display: inline;
    margin: 0 40px;
    padding: 20px;
}

.productname {
    font-family: fantasy;
    font-size: 20px;
}

.amount {
    font-family: cursive;
    font-style: italic;
}

.buy {
    width: 100px;
    height: 30px;
    background-color: forestgreen;
    color: white;
    font-weight: 700px;
    border: 0px;
    border-radius: 15px;
}
.cart {
    width: 100px;
    height: 30px;
    background-color:darkblue;
    color: white;
    font-weight: 700px;
    border: 0px;
    border-radius: 15px;
}
.cart{
    margin: 10px;
    margin-left:-0px;
}
.cart-css{
    margin-right:85%;
}